Package: ndm-test-server
Version: 1.0
Section: unknown
Priority: optional
Depends: libc6
Architecture: amd64
Essential: no
Installed-Size: 24 # du -k ./server
Maintainer: vitaliy <zhifarsky.job@gmail.com>
Description: server
